# Final Opportunity Ranking Across All Sectors

This notebook creates a final ranking of Chicago Community Areas based on undersupply of bars, gyms, shops, and schools. It also incorporates the combined opportunity index to produce a unified investment priority list. The output is a single CSV table that shows the best zones for potential development or new amenities.

In [1]:
import pandas as pd

# -----------------------------------------------------------
# 1. Load data with all undersupply scores
# -----------------------------------------------------------

df = pd.read_csv("combined_opportunity_index_by_CA.csv")
df["ca_name"] = df["ca_name"].str.upper().str.strip()

In [2]:
# --------------------------------------
# 2. Build a ranking table for each sector
# -----------------------------------------------------------

top_bars = df.sort_values("bars_undersupply", ascending=False)[["ca_num", "ca_name", "bars_undersupply"]]
top_gyms = df.sort_values("gyms_undersupply", ascending=False)[["ca_num", "ca_name", "gyms_undersupply"]]
top_shops = df.sort_values("shops_undersupply", ascending=False)[["ca_num", "ca_name", "shops_undersupply"]]
top_schools = df.sort_values("schools_undersupply", ascending=False)[["ca_num", "ca_name", "schools_undersupply"]]
top_combined = df.sort_values("combined_opportunity_index", ascending=False)[["ca_num", "ca_name", "combined_opportunity_index"]]

In [3]:
# -----------------------------------------------------------
# 3. Combine everything into a single summary table
# -----------------------------------------------------------

summary = df[[
    "ca_num",
    "ca_name",
    "bars_undersupply",
    "gyms_undersupply",
    "shops_undersupply",
    "schools_undersupply",
    "combined_opportunity_index"
]].copy()

# Add a simple "overall_rank" based on combined index
summary = summary.sort_values("combined_opportunity_index", ascending=False)
summary["overall_rank"] = range(1, len(summary) + 1)

In [4]:
# -----------------------------------------------------------
# 4. Save final summary
# -----------------------------------------------------------

summary.to_csv("final_opportunity_ranking.csv", index=False)

# -----------------------------------------------------------
# 5. Display Top 15 for report
# -----------------------------------------------------------

print("Top 15 Community Areas for Future Investment:")
summary.head(15)

Top 15 Community Areas for Future Investment:

,ca_num,ca_name,bars_undersupply,gyms_undersupply,shops_undersupply,schools_undersupply,combined_opportunity_index,overall_rank
76,47,BURNSIDE,1.000000,1.000000,1.000000,1.000000,1.000000,1
73,18,MONTCLARE,0.986111,1.000000,1.000000,1.000000,0.995833,2
75,36,OAKLAND,1.000000,1.000000,1.000000,0.956522,0.993478,3
65,37,FULLER PARK,0.993056,0.979043,0.942857,1.000000,0.977344,4
68,55,HEGEWISCH,0.972222,0.995469,0.971429,0.956522,0.976643,5
70,48,CALUMET HEIGHTS,0.993056,0.982158,1.000000,0.826087,0.966477,6
74,54,RIVERDALE,1.000000,0.983574,0.971429,0.826087,0.961842,7
61,9,EDISON PARK,0.986111,0.973095,0.942857,0.913043,0.960433,8
72,40,WASHINGTON PARK,0.979167,0.976211,1.000000,0.782609,0.954005,9
71,50,PULLMAN,1.000000,0.995469,0.971429,0.739130,0.952367,10
66,45,AVALON PARK,1.000000,0.973095,0.942857,0.826087,0.951556,11
63,12,FOREST GLEN,0.986111,0.943359,0.942857,0.913043,0.951512,12
55,64,CLEARING,0.965278,0.959785,0.971429,0.869565,0.950811,13
69,39,KENWOOD,0.993056,0.970263,1.000000,0.739130,0.949865,14
42,34,ARMOUR SQUARE,0.923611,0.955253,0.971429,0.913043,0.943473,15