# Final Opportunity Ranking Across All Sectors

This notebook creates a final ranking of Chicago Community Areas based on undersupply of bars, gyms, shops, and schools. It also incorporates the combined opportunity index to produce a unified investment priority list. The output is a single CSV table that shows the best zones for potential development or new amenities.

In [1]:
import pandas as pd

# -----------------------------------------------------------
# 1. Load data with all undersupply scores
# -----------------------------------------------------------

df = pd.read_csv("../datasets/combined_opportunity_index_by_CA.csv")
df["ca_name"] = df["ca_name"].str.upper().str.strip()

In [2]:
# --------------------------------------
# 2. Build a ranking table for each sector
# -----------------------------------------------------------

top_bars = df.sort_values("bars_undersupply", ascending=False)[["ca_num", "ca_name", "bars_undersupply"]]
top_gyms = df.sort_values("gyms_undersupply", ascending=False)[["ca_num", "ca_name", "gyms_undersupply"]]
top_shops = df.sort_values("shops_undersupply", ascending=False)[["ca_num", "ca_name", "shops_undersupply"]]
top_schools = df.sort_values("schools_undersupply", ascending=False)[["ca_num", "ca_name", "schools_undersupply"]]
top_combined = df.sort_values("combined_opportunity_index", ascending=False)[["ca_num", "ca_name", "combined_opportunity_index"]]

In [3]:
# -----------------------------------------------------------
# 3. Combine everything into a single summary table
# -----------------------------------------------------------

summary = df[[
    "ca_num",
    "ca_name",
    "bars_undersupply",
    "gyms_undersupply",
    "shops_undersupply",
    "schools_undersupply",
    "combined_opportunity_index"
]].copy()

# Add a simple "overall_rank" based on combined index
summary = summary.sort_values("combined_opportunity_index", ascending=False)
summary["overall_rank"] = range(1, len(summary) + 1)

In [4]:
# -----------------------------------------------------------
# 4. Save final summary
# -----------------------------------------------------------

summary.to_csv("../datasets/final_opportunity_ranking.csv", index=False)

# -----------------------------------------------------------
# 5. Display Top 15 for report
# -----------------------------------------------------------

print("Top 15 Community Areas for Future Investment:")
summary.head(15)

Top 15 Community Areas for Future Investment:

,ca_num,ca_name,bars_undersupply,gyms_undersupply,shops_undersupply,schools_undersupply,combined_opportunity_index,overall_rank
24,33,NEAR SOUTH SIDE,0.989558,1.000000,0.942857,0.422194,0.895911,1
75,36,OAKLAND,0.855144,0.800256,1.000000,0.860657,0.875719,2
69,39,KENWOOD,0.920448,0.867391,1.000000,0.582744,0.873763,3
76,47,BURNSIDE,0.822144,0.769373,1.000000,0.951002,0.870106,4
61,9,EDISON PARK,0.915426,0.827366,0.942857,0.717827,0.866226,5
58,35,DOUGLAS,0.980511,0.908344,0.971429,0.356735,0.863024,6
25,41,HYDE PARK,0.970646,0.896547,0.885714,0.507408,0.857698,7
39,1,ROGERS PARK,0.917429,0.927110,0.942857,0.452697,0.856980,8
55,64,CLEARING,0.864231,0.817903,0.971429,0.728188,0.856726,9
33,42,WOODLAWN,0.910474,0.837564,0.971429,0.594267,0.856409,10
71,50,PULLMAN,0.880971,0.804795,0.971429,0.635422,0.843900,11
68,55,HEGEWISCH,0.796517,0.748434,0.971429,0.913915,0.843429,12
42,34,ARMOUR SQUARE,0.817650,0.789003,0.971429,0.778832,0.841678,13
63,12,FOREST GLEN,0.841852,0.760870,0.942857,0.823569,0.840066,14
66,45,AVALON PARK,0.870927,0.776215,0.942857,0.723056,0.838315,15